<header class="main-header ">
    <div class="header-nav conteiner">
        <div class="header-brand">
            <a href="/src/index.html">
                <img class="header-brand__img" src="./images/film.svg" alt="filmoteka">
                <h1 class="header-brand__name">Filmoteka</h1>
            </a>
        </div>
        <ul class="header-list">
            <li class="header-list__item"><a class="header-list__link header-list__link--active" href="/src/index.html">HOME</a></li>
            <li class="header-list__item"><a class="header-list__link" href="/src/library.html">MY LIBRARY</a></li>
        </ul>
    </div>
    <div class="form-wrap">
    <form class="header-form" action="">
        <input type="text" placeholder="Type to search">
        <button type="submit" class="header-btn"><img src="./images/search 2.svg" alt=""></button>
    </form>
    <p class="header-warning visually-hidden">Error! Enter the correct movie name and try again</p>
    </div>
</header>