<div class="libraryGallery">
    <div class="libraryGallery-conteiner">
<ul class="libraryGallery-list">
<li class="libraryGallery-item"> </li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>
<li class="libraryGallery-item"></li>

</ul>
    </div>
</div>