<div class="backdrop visually-hidden">
    <!-- <button type="button" class="cross">x</button> -->

    <!-- <div class="modal-window"> -->

        <!-- <div class="modal-img">
            <img src="" alt="" width="370" height="470">
        </div>
        <div class="film-info">
            <button type="button" class="cross">x</button>

            <h2 class="film-name">Film Name</h2>
            <div class="film-stats">
            <ul class="film-stats__list">
                <li class="film-stats__item">Vote / Votes</li>
                <li class="film-stats__item">Popularity</li>
                <li class="film-stats__item">Original Title</li>
                <li class="film-stats__item">Genre</li>
            </ul>
            <ul class="film-stats__list">
                <li class="film-stats__item">11</li>
                <li class="film-stats__item">22</li>
                <li class="film-stats__item">33</li>
                <li class="film-stats__item">44</li>
            </ul>
            </div>
            <h3>About</h3>
            <p class="film-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam praesentium iure tempore, ipsa optio nihil consequatur, voluptates autem, quod saepe provident ducimus nulla? Quas, aspernatur optio enim quidem amet maxime?</p>
            <div class="modal-btn-wrap">
                <button type="button" class="modal-btn modal-btn--active">ADD TO WATCHED</button>
                <button type="button" class="modal-btn">ADD TO QUEUE</button>
            </div>
            
        </div> -->
    <!-- </div> -->
</div>