<div class="pagination__wrapper">
<button type="submit" class="loading-btn">load more</button>

    <!-- <ul class="pagination">
        <li><button class="prev" title="previous page">&#10094;</button></li>
        <li>
            <button class="active" title="first page - page 1">1</button>
        </li>
        <li>
            <button title="page 2">2</button>
        </li>
        <li>
            <button title="current page - page 3">3</button>
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <button title="page 10">10</button>
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <button title="last page - page 20">20</button>
        </li>
        <li><button class="next" title="next page">&#10095;</button></li>
    </ul> -->
</div>