<div class="pagination__wrapper">
    <ul class="pagination">
        <li><button class="prev" title="previous page">&#10094;</button></li>
        <li>
            <button class="active" title="first page - page 1">1</button>
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <button title="page 8">8</button>
        </li>
        <li>
            <button title="current page - page 9">9</button>
        </li>
        <li>
            <button title="page 10">10</button>
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <button title="last page - page 20">20</button>
        </li>
        <li><button class="next" title="next page">&#10095;</button></li>
    </ul>
</div>